div.icon-button > button {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 0px;
}
div.icon-button > button:hover {
	outline: 0;
	background: rgba(0, 0, 0, 0.1)
}
div.icon-button > button:active {
	outline: 0;
	background: rgba(0, 0, 0, 0.3)
}
div.icon-button > button:focus {
	outline: 2px solid rgba(0, 0, 0, 0.2);
	outline-offset: 0;
	/* background: rgba(0, 0, 0, 0.3) */
}
div.icon-button button > img {
	width: 30px;
	height: 30px;
}
