div.icon-button > button {
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border: 0px;
}
div.icon-button > button:hover {
	outline: 0;
	background: var(--one-dark-highlight) 
}
div.icon-button > button:active {
	outline: 0;
	background: var(--two-dark-highlight);
}
div.icon-button > button:focus {
	outline: 2px solid var(--two-dark-highlight);
	outline-offset: 0;
	/* background: rgba(0, 0, 0, 0.3) */
}
div.icon-button button > img {
	width: 20px;
	height: 22px;
}
