<div class="generated-match-card">
	<div class="generated-match-date">
		<p class="text6 -remove-line-height">{{match.date | date: 'fullDate'}}</p>
	</div>
	<div class="generated-match-detail">
		<p class="text2 -remove-line-height -remove-margin">
			<span class="-margin-r-small">{{match.teamA}}</span>
			<span class="generated-goals">{{match.teamAGoals}} <span class="goals-sep -margin-rl-large">
					VS</span> {{match.teamBGoals}}</span>
			<span class="-margin-l-small">{{match.teamB}}</span>
		</p>
	</div>
</div>
