<div class="generated-match-card">
	<div class="generated-match-date">
		<p class="text6 -remove-line-height">{{match.date | date: 'fullDate'}}</p>
	</div>
	<div class="generated-match-detail">
		<p class="text2 -remove-line-height -remove-margin">
			<span class="-margin-r-small"><span *ngIf="winningTeam == match.teamA" class="winningTeam">➤ </span>{{match.teamA}}</span>
			<span class="generated-goals">{{match.teamAGoals}} <span class="goals-sep -margin-rl-medium">
					vs</span> {{match.teamBGoals}}</span>
			<span class="-margin-l-small"><span *ngIf="winningTeam == match.teamB" class="winningTeam">➤ </span>{{match.teamB}}</span>
		</p>
	</div>
</div>
