div.generated-match-date {
  color: var(--dark-grey);
  /* padding-bottom: 10px; */
}
div.generated-match-detail {
  /* padding-top: 20px; */
  /* padding-bottom: 30px; */
}
p.match-info {
	align-items: center;
    display: flex;
    width: -moz-fit-content;
    max-width: clamp(80ch, 80%, 100ch);
}
span.team-name {
	margin-right: 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis;
}
span.generated-goals {
  font-weight: 600;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2.4rem;
  white-space: nowrap
}
span.goals-sep {
  color: var(--primary-orange);
}
span.winningTeam {
	color: var(--primary-purple)
}
