.title-line {
  position: relative;
  margin-top: 8px;
}
.title-line::before {
  content: "";
  left: 2px;
  top: -8px;
  position: absolute;
  width: 70px;
  border-top: 3px solid var(--primary-orange);
}
