div.tabs {
	border-bottom: var(--primary-border);
	border-width: 1px;
	display: flex;
}
div.tab {
	line-height: 0;
	padding-right: 30px;
	padding-left: 30px;
	margin-bottom: -2px;
	color: var(--light-black);
}
div.active {
	color: var(--primary-black);
	/* border-bottom: 4px solid var(--secondary-black); */
	border-bottom: 4px solid var(--primary-purple);	
}
div.tab:active {
	cursor: pointer;
	color: var(--primary-black);
	background: rgba(75, 75, 75, 0.1);
	transition: 0.1s;
	border-bottom: 4px solid rgba(41, 87, 255, 0.4);	
}
div.tab:hover {
	cursor: pointer;
	color: var(--primary-black);
	/* border-bottom: 4px solid rgba(0, 0, 0, 0.3); */
	/* border-bottom: 4px solid rgba(82, 120, 255, 0.4);	 */
	border-bottom: 4px solid rgba(41, 87, 255, 0.4);	
}
div.active:hover {
	color: var(--primary-black);
	/* border-bottom: 4px solid var(--secondary-black); */
	border-bottom: 4px solid var(--primary-purple);
}
div.active:active {
	color: var(--primary-black);
	/* border-bottom: 4px solid var(--secondary-black); */
	border-bottom: 4px solid var(--primary-purple);
}
