.route-link {
  color: var(--primary-white);
  margin-right: 10px;
  font-weight: 500;
  text-decoration: none;
}
.route-link:hover {
  color: var(--secondary-orange);
}
.active {
  /* text-decoration: underline; */
  text-decoration-color: var(--secondary-orange);
  color: var(--secondary-orange);
  font-weight: 500;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-yellow);
  width: 50px;
  height: 50px;
}
.logo > img {
	width: 40px;
	height: 40px;
}
