<snackbar type="error" [(show)]="errorNotify">
<span class="black text5">Error: </span><span class="text5">{{errorNotifyMessage}}</span>
</snackbar>
<snackbar type="success" [(show)]="successNotify">
<span class="black text5">Success: </span><span class="text5">{{successNotifyMessage}}</span>
</snackbar>
<div class="modals">
	<modal-confirm _id="match-success"
				[title]="matchGeneratedTitle">
		<generated-match *ngIf="generatedMatch" [match]="generatedMatch"></generated-match>
	</modal-confirm>
	<modal-error _id="match-error" [title]="matchGenerateErrorTitle">
		<div class="error-message-card">	
			<p class="text5 -remove-margin"><span class="bold">Error: </span>{{errorMessage}}</p>
		</div>
	</modal-error>
</div>
<title1>
<span>{{title}}</span>
</title1>
<section class="-margin-top-large -margin-bottom-small">
	<div class="refresh-button-wrapper">
		<div class="refresh-button">
			<icon-button (click)="onRefresh()"></icon-button>
		</div>
	</div>
	<tabs>
	<tab title="Standings">
	<div class="center content-spinner" *ngIf="isDataLoading">
		<img [src]="loadingGif" alt="loading">
	</div>
	<div class="wrapper"  *ngIf="!isDataLoading">
		<label class="small light" for="sort">Sort by: </label>
		<select (change)="onSortByChange($event)" class="select" id="sort">
			<option value="points">Points</option>
			<option value="goals">Goals</option>
			<option value="matches">Matches</option>
		</select>
		<div>
		<standings-table  _id="standings-table" [footballClubs]="footballClubs" [matches]="matches" [sortBy]="footballClubsSortBy"></standings-table>
		</div>
	</div>
	</tab>
	<tab title="Matches">
	<div class="matches-tab">
		<div class="-flex">
			<date-picker (pick)="onDatePick($event)"></date-picker>
			<div class="-flex-right">
				<button class="btn primary-btn" (click)="onAddMatch()" [disabled]="isRandomMatchLoading || isDataLoading">
					<span [ngClass]="{'-hide': isRandomMatchLoading}">ADD MATCH</span>
					<div [ngClass]="{'-hide': !isRandomMatchLoading, spinner: true, 'spinner-small': true}"></div>
				</button>
			</div>
		</div>
		<div class="center content-spinner" *ngIf="isDataLoading">
			<img [src]="loadingGif">
		</div>
		<div class="dark match-list">
			<match-list [matches]="matches" [matchDate]="matchDate" *ngIf="!isDataLoading"></match-list>
		</div>
	</div>
	</tab>
	</tabs>
</section>
