div.wrapper {
	width: 80%;
	min-width: 700px;
}
span.season {
	font-size: 3.4rem;
	font-weight: 900;
	margin-left: 20px;
	color: var(--primary-purple)
}
.refresh-button-wrapper {
  position: relative;
  top: 0px;
  left: -1px;
  display: flex;
  justify-content: flex-end;
}
.refresh-button {
  position: absolute;
}
.content-spinner {
	padding-top: 50px;
	height: 200px;
}
.content-spinner img {
	width: 200px;
	height: auto;
}
@media only screen and (max-width: 1000px) {
	div.wrapper {
		width: 100%;
		min-width: auto;
	}
}
@media only screen and (max-width: 600px) {
	.refresh-button-wrapper {
		top: -6px;
	}
}
