span.season {
	font-size: 3.4rem;
	font-weight: 900;
	margin-left: 20px;
	color: var(--primary-purple)
}
.refresh-button-wrapper {
  position: relative;
  top: 2px;
  display: flex;
  justify-content: flex-end;
}
.refresh-button {
  position: absolute;
}
