/* table */
div.flat-table-wrapper {
	position: relative;
	margin-top: 8px;
}
table.flat-table::before {
	content: "";
	top: 0px;
	left: -0.5px;
	width: calc(100% - 1px);
	position: absolute;
	border-top: 3px solid var(--secondary-orange);
}
table.flat-table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid var(--grey-white);
	box-shadow: var(--light-box-shadow);
}

table.flat-table tr.spacer {
	border: 0px;
	height: 0px;
}
table.flat-table th.table-heading:nth-child(1) {
	padding-left: 20px;
	text-align: left;
}
table.flat-table th > span {
	font-weight: 600;
}
table.flat-table td:nth-child(1) {
	padding-left: 20px;
	text-align: left;
	max-width: 22ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.flat-table td:nth-last-child(1) > span {
	font-weight: 600;
	color: var(--primary-green);
}
table.flat-table td {
	text-align: center;
}
table.flat-table td, th {
	border: 1px solid var(--grey-white);
}
table.flat-table th {
	border-bottom: 0px solid var(--grey-white);
}
table.flat-table th,
table.flat-table td {
	padding: 10px 10px;
}
table.flat-table tbody tr:nth-child(2) td:nth-child(1) {
	border-left: 2px solid var(--secondary-purple) ;
}
table.flat-table tbody tr:nth-child(4) td:nth-child(1) {
	border-left: 2px solid var(--secondary-purple) ;
}
table.flat-table tbody tr:nth-child(6) td:nth-child(1) {
	border-left: 2px solid var(--secondary-purple) ;
}
table.flat-table tbody tr:nth-last-child(2) {
	border-bottom: 2px solid var(--grey-white);
}

table.flat-table tr {
	/* box-shadow: var(--light-box-shadow); */
	/* border: var(--primary-border); */
}
table.flat-table thead tr {
	/* border-top-color: var(--secondary-orange); */

	background: var(--highlight-white);
}

table.flat-table tbody tr {
	background: var(--primary-white);
}
tr.no-content {
	background: var(--primary-white);
}
tr.no-content th{
	text-align: center !important;
	padding: 40px 0;
}
tr.no-content th > span {
	font-size: 2rem;
	font-weight: 400;
} 
