<match-list-modal>
</match-list-modal>
<section class="-margin-top-medium -margin-bottom-small">
	<div class="flat-table-wrapper">
		<table [attr.id]="_id" class="flat-table">
			<thead>
				<tr>
					<th *ngFor="let field of fields" class="table-heading"><span class="text5">{{field}}</span></th>
				</tr>
			</thead>
			<ng-container *ngIf="footballClubs.length == 0">
				<tr class="spacer"></tr>
				<tr class="no-content" >
					<th [attr.colspan]="fields.length">
						<span>No Clubs :(</span>
					</th>
				</tr>
			</ng-container>
			<tbody [@stagger]="footballClubs">
				<ng-container *ngFor="let footballClub of footballClubs">
					<tr class="spacer"></tr>
					<tr (click)="onTeamClick(footballClub)">
						<td><span class="text5">{{footballClub.clubName}}</span></td>
						<td><span class="text5">{{footballClub.matchCount}}</span></td>
						<td><span class="text5">{{footballClub.winCount}}</span></td>
						<td><span class="text5">{{footballClub.drawCount}}</span></td>
						<td><span class="text5">{{footballClub.defeatCount}}</span></td>
						<td><span class="text5">{{footballClub.goalsScored}}</span></td>
						<td><span class="text5">{{footballClub.goalsAgainst}}</span></td>
						<td><span class="text5">{{footballClub.goalsDifference}}</span></td>
						<td><span class="text5">{{footballClub.points}}</span></td>
						<td>
							<div class="form-container">
								<ng-container *ngFor="let match of getMatchesByClub(footballClub, 3)">
									<span class="form">
										<span class="victory-state draw-match" *ngIf="isMatchDraw(match)">D</span>
										<span class="victory-state win-match" *ngIf="isTeamWon(match, footballClub)">W</span>
										<span class="victory-state lost-match" *ngIf="!isMatchDraw(match) && !isTeamWon(match, footballClub)">L</span>
										<span class="match-det">
											<!-- <span class="match-date"><span>{{match.date}}</span></span> -->
											<span class="match-info">
												<span class="this-team">{{getClubGoals(match, footballClub)}} </span><span class="goals-sep bold">:</span> {{getOpponentGoals(match, footballClub)}} <span class="opponent-team">{{getOpponentClubName(match, footballClub)}}</span>
											</span>
										</span>
									</span>
								</ng-container>
							</div>
						</td>
					</tr>
					<tr class="spacer"></tr>
				</ng-container>
			</tbody>
		</table>
	</div>
</section>
