/* table */
div.flat-table-wrapper {
	position: relative;
	margin-top: 8px;
}
table.flat-table::before {
	content: "";
	top: 0px;
	left: -0.5px;
	width: calc(100% - 1px);
	position: absolute;
	border-top: 3px solid var(--secondary-orange);
}
table.flat-table {
	width: 100%;
	border-collapse: collapse;
	border: 2px solid var(--grey-white);
	box-shadow: var(--light-box-shadow);
	background: var(--primary-white);
}

table.flat-table tr.spacer {
	border: 0px;
	height: 0px;
}
table.flat-table th.table-heading:nth-child(1) {
	padding-left: 20px;
	text-align: left;
}
table.flat-table th > span {
	font-weight: 600;
}
table.flat-table td:nth-child(1) {
	padding-left: 20px;
	text-align: left;
	max-width: 22ch;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.flat-table td:nth-last-child(2) > span {
	font-weight: 600;
	color: var(--primary-green);
}
table.flat-table td {
	text-align: center;
}
table.flat-table td, th {
	border: 1px solid var(--grey-white);
	border-right: 0px solid var(--grey-white);
	border-left: 0px solid var(--grey-white);
}
table.flat-table th {
	border-bottom: 0px solid var(--grey-white);
}
table.flat-table th,
table.flat-table td {
	padding: 10px 10px;
}
table.flat-table tbody tr:nth-child(2) td:nth-child(1) {
	border-left: 2px solid var(--secondary-purple) ;
}
table.flat-table tbody tr:nth-child(5) td:nth-child(1) {
	border-left: 2px solid var(--secondary-purple) ;
}
table.flat-table tbody tr:nth-child(8) td:nth-child(1) {
	border-left: 2px solid var(--secondary-purple) ;
}
table.flat-table tbody tr:nth-last-child(2) {
	border-bottom: 2px solid var(--grey-white);
}

table.flat-table tr {
	/* box-shadow: var(--light-box-shadow); */
	/* border: var(--primary-border); */
}
table.flat-table thead tr {
	/* border-top-color: var(--secondary-orange); */

	background: var(--highlight-white);
}
table.flat-table tbody tr td {
	transition: 0.4s;
}
table.flat-table tbody tr {
	background: var(--primary-white);
	transition: 0.2s;
}
table.flat-table tbody tr:hover {
	/* background: rgba(119, 137, 255, 1); */
	transform: scale(0.99);
	cursor: pointer;
}
table.flat-table:active {
	/* background: rgba(119, 137, 255, 0.28); */
}
table.flat-table tbody tr:active {
	/* background: rgba(119, 137, 255, 0.28); */
	/* width: 120%; */
	transform: scale(0.98);
	cursor: pointer;
}
tr.no-content {
	background: var(--primary-white);
	border-bottom: 2px solid var(--grey-white);
}
tr.no-content th{
	text-align: center !important;
	padding: 40px 0;
}
tr.no-content th > span {
	font-size: 2rem;
	font-weight: 400;
} 
div.form-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
div.form-container span.victory-state {
	font-size: 1.6rem;
	font-weight: 600;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 13px;
	margin-right: 5px;
}
div.form-container span:nth-last-child(1) {
	margin-right: 0px;
}
span.form {
  position: relative;
  display: inline-block;
  /* border-bottom: 1px dotted black; */
}
span.form span.match-det > .match-date {
	display: flex;
	background: var(--secondary-purple);
	margin-bottom: 4px;
	color: var(--primary-purple);
	font-weight: 400;
	font-size: 1.4rem;
	justify-content: center;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}
span.match-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
span.form span.match-det {
  visibility: hidden;
  font-size: 1.8rem;
  width: 150px;
  text-align: center;
  padding: 5px 0px;
  /* padding-top: 0; */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
  color: var(--dark-purple);
  background-color: var(--highlight-purple);
  border: 1px solid var(--primary-purple);
  box-shadow: var(--light-box-shadow);
  opacity: 0;
  transition: opacity 0.4s;
  font-weight: 500;
}
span.form span.match-det span.goals-sep {
	color: var(--secondary-orange);
	font-weight: 900;
	font-size: 2rem;
	margin-left: 4px;
	margin-right: 4px;
}
span.opponent-team {
    margin: 0;
	margin-left: 4px;
	max-width: clamp(10ch, 30%, 22ch);
	display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
span.this-team {
	font-weight: 900;
}
span.lost-match {
	color: var(--primary-white);
	background: var(--primary-red);
}
span.win-match {
	color: var(--primary-white);
	background: var(--primary-green);
}
span.draw-match {
	color: var(--primary-grey);
	background: var(--light-grey);
}
span.form:hover .match-det {
  visibility: visible;
  opacity: 0.95;
}
