<div class="modal-container" [id]="_id" (click)="onResponse($event)" [hidden]="!show">
	<div class="modal-wrapper">
		<div class="modal">
			<div class="modal-title">
				<h3 class="-remove-line-height text2 bold">{{title}}</h3>
				<img src="../../../../assets/icons/icon-success.png">
			</div>
			<div class="modal-content">
				<ng-content></ng-content>
			</div>
			<div class="modal-actions">
				<button class="btn primary-btn" id="cancel">
					OK
				</button>
				<!-- <spinner> -->
				<!-- <button class="btn primary-btn"> -->
				<!-- <span class="-hide">CONFIRM</span> -->

				<!-- <div class="spinner spinner-small"></div> -->

				<!-- </button> -->
			</div>
		</div>
	</div>
</div>
