<div [@fadeIn]="showName" class="modal-container" [id]="_id" (click)="onResponse($event)" [hidden]="!show">
	<div class="modal-wrapper">
		<div [@popOverState]="showName" class="modal">
			<div class="modal-title">
				<img src="../../../../assets/icons/icon-fail.png">
				<h3 class="-remove-line-height text2">{{title}}</h3>
			</div>
			<div class="modal-content">
				<ng-content></ng-content>
			</div>
			<div class="modal-actions">
				<button id="close" class="btn red-btn">
					CLOSE
				</button>
			</div>
		</div>
	</div>
</div>
