div.generated-match-date {
  color: var(--dark-grey);
  padding-bottom: 10px;
}
div.generated-match-detail {
  padding-top: 20px;
  padding-bottom: 30px;
}
span.generated-goals {
  font-weight: 900;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2.4rem;
}
span.goals-sep {
  color: var(--primary-orange);
}
span.winningTeam {
	color: var(--primary-purple)
}
