<div class="dark match-card">
	<div class="match-date">
		<p class="text6 -remove-margin">{{match.date | date: 'fullDate'}}</p>
	</div>
	<div class="match-detail">
		<p class="text3 match-info"><span *ngIf="winningTeam == match.teamA" class="winningTeam">➤ </span><span class="team-name">{{match.teamA}}</span><span class="goals">{{match.teamAGoals}}<span class="goals-sep -margin-rl-small">:</span>{{match.teamBGoals}}</span><span *ngIf="winningTeam == match.teamB" class="winningTeam">➤ </span><span class="team-name">{{match.teamB}}</span></p>
	</div>
</div>
