/* .dark[data-theme="dark"] { */
	/* --primary-border: 2px solid #505050; */
	/* --highlight-white: #414141; */
	/* --primary-grey: #c9c9c9; */
	/* --primary-white: #242424; */
/* } */
div.match-card {
  box-shadow: var(--light-box-shadow);
  border: var(--primary-border);
  background: var(--primary-white);
}
div.match-date {
  padding: 10px 20px;
  background: var(--highlight-white);
  border-bottom: 1px solid var(--dark-white);
  color: var(--primary-grey)
}
p.match-info {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: clamp(26ch, 80%, 80ch);
  /* width: fit-content; */
}
span.team-name {
	/* max-width: 16ch; */
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    text-overflow: ellipsis
}
div.match-detail {
  display: flex;
  justify-content: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
span.goals {
  font-weight: 900;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 2.4rem;
}
span.goals-sep {
  color: var(--primary-orange);
}
span.winningTeam {
	margin-right: 5px;
	color: var(--primary-purple)
}
